---
layout: period
titel: 2021–heute
parent_title: Fanclubs & Mitgliedschaft
parent_url: /fanclubs/
permalink: /fanclubs/2021-heute/
daten_key: fanclubs
von: 2021
bis: 9999
---
{% include archiveYear.html jahr="2021" %}

{% include archiveYear.html jahr="2022" %}

{% include archiveYear.html jahr="2023" %}

{% include archiveYear.html jahr="2024" %}

{% include archiveYear.html jahr="2025" %}
{% include archivedWeb.html url="https://www.oasisinet.com" datetime="2025" %}

{% include archiveYear.html jahr="2026" %}

