---
layout: period
titel: 2011–2015
parent_title: Mailing-Listen & Newsletter
parent_url: /mailing-listen/
permalink: /mailing-listen/2011-2015/
daten_key: mailing_listen
von: 2011
bis: 2015
---
{% include archiveYear.html jahr="2011" %}
{% include archiveBand.html url="http://www.onedirectionmusic.com/gb/newsletter/" datetime="2011" band="One Direction" screenshot="/assets/img/screenshots/Mailing /onedirection-newsletter-2011.jpg" %}
{% include archiveBand.html url="http://www.oasisinet.com/Mailing.aspx" datetime="2011" band="Oasis" screenshot="/assets/img/screenshots/Mailing /oasis-mailing-2011.jpg" %}

{% include archiveYear.html jahr="2012" %}
{% include archiveBand.html url="http://www.onedirectionmusic.com/gb/newsletter/" datetime="2012" band="One Direction" screenshot="/assets/img/screenshots/Mailing /onedirection-newsletter-2012.jpg" %}
{% include archiveBand.html url="http://www.oasisinet.com/Mailing.aspx" datetime="2012" band="Oasis" screenshot="/assets/img/screenshots/Mailing /oasis-mailing-2012.jpg" %}

{% include archiveYear.html jahr="2013" %}
{% include archiveBand.html url="http://www.onedirectionmusic.com/gb/newsletter/" datetime="2013" band="One Direction" screenshot="/assets/img/screenshots/Mailing /onedirection-newsletter-2013.jpg" %}
{% include archiveBand.html url="http://www.oasisinet.com/Mailing.aspx" datetime="2013" band="Oasis" screenshot="/assets/img/screenshots/Mailing /oasis-mailing-2013.jpg" %}
{% include archiveBand.html url="http://5sos-official.tumblr.com/newslettersignup" datetime="2013" band="5 Seconds of Summer" screenshot="/assets/img/screenshots/Mailing /5sos-newsletter-2013.jpg" %}

{% include archiveYear.html jahr="2014" %}
{% include archiveBand.html url="http://www.onedirectionmusic.com/gb/newsletter/" datetime="2014" band="One Direction" screenshot="/assets/img/screenshots/Mailing /onedirection-newsletter-2014.jpg" %}

{% include archiveYear.html jahr="2015" %}
{% include archiveBand.html url="http://www.onedirectionmusic.com/gb/newsletter/" datetime="2015" band="One Direction" screenshot="/assets/img/screenshots/Mailing /onedirection-newsletter-2015.jpg" %}

