---
layout: period
titel: Pre 2000
parent_title: Mailing-Listen & Newsletter
parent_url: /mailing-listen/
permalink: /mailing-listen/pre-2000/
---

{% include archiveYear.html jahr="1994" %}
{% include archiveBand.html url="http://www.nirvana.com/" datetime="1994" band="Nirvana" %}
{% include archiveBand.html url="http://www.pearljam.com/" datetime="1994" band="Pearl Jam" %}
{% include archiveBand.html url="http://www.greenday.com/" datetime="1994" band="Green Day" %}

{% include archiveYear.html jahr="1995" %}
{% include archiveBand.html url="http://www.oasisinet.com/" datetime="1995" band="Oasis" %}
{% include archiveBand.html url="http://www.blur.co.uk/" datetime="1995" band="Blur" %}
{% include archiveBand.html url="http://www.radiohead.com/" datetime="1995" band="Radiohead" %}
{% include archiveBand.html url="http://www.pulp.co.uk/" datetime="1995" band="Pulp" %}
{% include archiveBand.html url="http://www.suede.co.uk/" datetime="1995" band="Suede" %}

{% include archiveYear.html jahr="1996" %}
{% include archiveBand.html url="http://www.oasisinet.com/" datetime="1996" band="Oasis" %}
{% include archiveBand.html url="http://www.spicegirls.com/" datetime="1996" band="Spice Girls" %}
{% include archiveBand.html url="http://www.blur.co.uk/" datetime="1996" band="Blur" %}
{% include archiveBand.html url="http://www.radiohead.com/" datetime="1996" band="Radiohead" %}
{% include archiveBand.html url="http://www.prodigy.co.uk/" datetime="1996" band="Prodigy" %}
{% include archiveBand.html url="http://www.bjork.com/" datetime="1996" band="Björk" %}

{% include archiveYear.html jahr="1997" %}
{% include archiveBand.html url="http://www.oasisinet.com/" datetime="1997" band="Oasis" %}
{% include archiveBand.html url="http://www.spicegirls.com/" datetime="1997" band="Spice Girls" %}
{% include archiveBand.html url="http://www.radiohead.com/" datetime="1997" band="Radiohead" %}
{% include archiveBand.html url="http://www.backstreetboys.com/" datetime="1997" band="Backstreet Boys" %}
{% include archiveBand.html url="http://www.u2.com/" datetime="1997" band="U2" %}
{% include archiveBand.html url="http://www.fleetwoodmac.com/" datetime="1997" band="Fleetwood Mac" %}
{% include archiveBand.html url="http://www.maniacs.com/" datetime="1997" band="Hanson" %}

{% include archiveYear.html jahr="1998" %}
{% include archiveBand.html url="http://www.oasisinet.com/" datetime="1998" band="Oasis" %}
{% include archiveBand.html url="http://www.backstreetboys.com/" datetime="1998" band="Backstreet Boys" %}
{% include archiveBand.html url="http://www.spicegirls.com/" datetime="1998" band="Spice Girls" %}
{% include archiveBand.html url="http://www.garbage.com/" datetime="1998" band="Garbage" %}
{% include archiveBand.html url="http://www.placebo.co.uk/" datetime="1998" band="Placebo" %}
{% include archiveBand.html url="http://www.massiveattack.co.uk/" datetime="1998" band="Massive Attack" %}

{% include archiveYear.html jahr="1999" %}
{% include archiveBand.html url="http://www.oasisinet.com/" datetime="1999" band="Oasis" %}
{% include archiveBand.html url="http://www.backstreetboys.com/" datetime="1999" band="Backstreet Boys" %}
{% include archiveBand.html url="http://www.abba.com/" datetime="1999" band="ABBA" %}
{% include archiveBand.html url="http://www.tlc.com/" datetime="1999" band="TLC" %}
{% include archiveBand.html url="http://www.destinychild.com/" datetime="1999" band="Destiny's Child" %}
{% include archiveBand.html url="http://www.radiohead.com/" datetime="1999" band="Radiohead" %}
{% include archiveBand.html url="http://www.blur.co.uk/" datetime="1999" band="Blur" %}
