---
layout: period
titel: Pre 2000
parent_title: Mailing-Listen & Newsletter
parent_url: /mailing-listen/
permalink: /mailing-listen/pre-2000/
---

{% include archiveYear.html jahr="1996" %}

{% include archivedWeb.html url="http://www.oasisinet.com/" datetime="1996" band="Oasis" beschreibung="Oasis boten auf ihrer frühen Website oasisinet.com eine E-Mail-Liste für Fans an – Neuigkeiten zu Touren direkt ins Postfach." %}

{% include archiveYear.html jahr="1997" %}

{% include archivedWeb.html url="http://www.spicegirls.com/" datetime="1997" band="Spice Girls" beschreibung="Die offizielle Spice Girls Website warb aktiv für ihren E-Mail-Newsletter – mit exklusiven Updates und Gewinnspielen." %}

{% include archivedWeb.html url="http://www.radiohead.com/" datetime="1997" band="Radiohead" beschreibung="Radioheads offizielle Site verlinkle einen Newsletter-Service, über den Fans Updates zu 'OK Computer' erhielten." %}

{% include archiveYear.html jahr="1998" %}

{% include archivedWeb.html url="http://www.backstreetboys.com/" datetime="1998" band="Backstreet Boys" beschreibung="backstreetboys.com listete eine Mailing-Liste prominent auf der Startseite – Fans konnten sich per E-Mail registrieren." %}

{% include archiveYear.html jahr="1999" %}

{% include archivedWeb.html url="http://www.abba.com/" datetime="1999" band="ABBA" beschreibung="Die offizielle ABBA-Website bot einen Newsletter für Neuigkeiten rund um die Band." %}
