---
layout: period
titel: Pre 2000
parent_title: Mailing-Listen & Newsletter
parent_url: /mailing-listen/
permalink: /mailing-listen/pre-2000/
---

{% include archivedWeb.html url="http://www.oasisinet.com/" datetime="1996" band="Oasis" jahr="1996" beschreibung="Oasis boten auf ihrer frühen Website oasisinet.com eine E-Mail-Liste für Fans an – Neuigkeiten zu Touren und Veröffentlichungen direkt ins Postfach." %}

{% include archivedWeb.html url="http://www.spicegirls.com/" datetime="1997" band="Spice Girls" jahr="1997" beschreibung="Die offizielle Spice Girls Website warb aktiv für ihren E-Mail-Newsletter – mit exklusiven Updates und Gewinnspielen für Abonnenten." %}

{% include archivedWeb.html url="http://www.backstreetboys.com/" datetime="1998" band="Backstreet Boys" jahr="1998" beschreibung="backstreetboys.com listete eine Mailing-Liste prominent auf der Startseite – Fans konnten sich mit ihrer E-Mail-Adresse registrieren." %}
